<!-- templates/papers_table_tfoot.html -->
<tfoot id="counts-footer">
<tr>
    <!-- 1. LEADING FIXED (6) -->
    <td id="count-pdf_present" title=""></td>
    <td colspan="4" style="font-weight: 400;" id="visible-count-cell">
        Filtered: <span style="font-weight: bold;" id="visible-papers-count"></span>,
        Loaded: <span style="font-weight: bold;" id="loaded-papers-count"></span>,
        Total: <span style="font-weight: bold;" id="total-papers-count">{{ total_paper_count | safe }}</span>,
        Duplicate: <span style="font-weight: bold;" id="duplicate-papers-count"></span>
    </td>
    <td>
        <span style="font-size:0.75em;padding-left: 30px;position: absolute; left: 2px;bottom: 3px;">
            <button type="button" id="longtable-btn" title="Click to copy the currently filtered table to the clipboard as a LaTeX \longtable"><em>\longtable</em></button>
        </span>
    </td>

    <!-- 2. UNIVERSAL INFERRED (2) -->
    <td id="count-is_offtopic" class="count-cell" data-field="is_offtopic" title="Offtopic"></td>
    <td></td> <!-- Relevance -->

    <!-- 3. DYNAMIC DOMAIN-SPECIFIC -->
    {% for group in domain_config.groups %}
        {% if group.filter_type == 'tri_state' %}
            {% set path = group.json_path %}
            <td id="count-{{ path | replace('.', '_') }}" class="count-cell" data-field="{{ path }}" title="{{ group.friendly_name }}"></td>
        {% elif group.filter_type in ['inclusion', 'none'] %}
            {% for key_def in group.keys %}
                {% set path = group.json_path + '.' + key_def.key %}
                <td id="count-{{ path | replace('.', '_') }}" class="count-cell" data-field="{{ path }}" title="{{ key_def.label }}"></td>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <!-- 4. TRAILING FIXED (9) -->
    <td></td> <!-- Last Changed -->
    <td id="count-changed_by" class="count-cell" data-field="changed_by" title="Changed by User"></td>
    <td id="count-verified" class="count-cell" data-field="verified" title="Verified"></td>
    <td></td> <!-- Estimated Score -->
    <td id="count-verified_by" class="count-cell" data-field="verified_by" title="Verified by User"></td>
    <td id="count-user_override_count" class="count-cell" data-field="user_override_count" title="User Override Count"></td>
    <td id="count-user_comment_state" class="count-cell" data-field="user_comment_state" title="Commented by User"></td>
    <td></td> <!-- History -->
    <td></td> <!-- Details -->

    <!-- 5. HIDDEN METADATA (5) -->
    <td style="display:none"></td>
    <td style="display:none"></td>
    <td style="display:none"></td>
    <td style="display:none"></td>
    <td style="display:none"></td>
</tr>
</tfoot>