<!-- templates/index_static_export.html -->
<!DOCTYPE html>
<html class="busyCursor">
<head>
    <title>PCB Inspection Papers</title>

    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <style>
    
    {{ style_css_content | safe }}
    /*static checkbox fix*/
    input[type="checkbox"] {
        transform: none;
        height: 32px;
        width: 32px;
        margin: 0 8px;
        border-radius: 0;
        opacity: 0.5;
    }

    </style>
    <script>
    {{ chart_js_content | safe }}
    </script>
</head>
<body>

<div class="table-container"> <!-- Wrapper for horizontal scrolling -->
<table id="papersTable">
    <thead>
        <tr>
            <div class="main-header">
                <div class="header-controls">
                    <button class="action-btn" id="import-bibtex" disabled>Import <strong>BibTeX</strong></button>
                </div>
                <div class="header-filters">
                    <!-- Moved to ontop-header -->
                </div>
                <div class="header-controls">
                    <div class="batch-actions">
                        <span id="batch-status-message"></span> <!-- For feedback -->
                        <button class="action-btn" id="stats-btn">Check <strong>Stats</strong></button>
                        <button class="action-btn" id="classify-remaining-btn" disabled>Classify <strong>Remaining</strong></button>
                        <button class="action-btn" id="classify-all-btn" disabled>Re-Classify <strong>All</strong></button>
                        <button class="action-btn" id="verify-remaining-btn" disabled>Verify <strong>Remaining</strong></button>
                        <button class="action-btn" id="verify-all-btn" disabled>Re-Verify <strong>All</strong></button>
                    </div>
                </div>
            </div>

        </tr>
        <tr>
            <th class="ontop-header" colspan="5" rowspan="2"> 
                <div class="header-filters" style="min-width: 540px;">
                    <div class="filter-item">
                        <input type="checkbox" id="hide-offtopic-checkbox" {% if hide_offtopic == true %}checked disabled title="File was exported only with ontopic papers"{% endif %}>
                        <label for="hide-offtopic-checkbox">Hide<Br> offtopic</label>
                    </div>
                    <div class="filter-item">
                        <input type="checkbox" id="hide-short-checkbox"  style="display: none;">
                        <label for="min-page-count">Min. page count ></label>
                        <input type="number" id="min-page-count" value="{{ min_page_count_value }}" min="{{ min_page_count_value }}" max="9">
                    </div>
                    <div class="filter-item">
                        <label for="year-from">Year:</label>
                        <input type="number" id="year-from" value="{{ year_from_value }}" min="{{ year_from_value }}" max="{{ year_to_value }}">
                        <label for="year-to">to</label>
                        <input type="number" id="year-to" value="{{ year_to_value }}" min="{{ year_from_value }}" max="{{ year_to_value }}">
                    </div>
                    </div>
                </div>

            </th>
            <th class="inferred-header" colspan="25" style="background: linear-gradient(90deg, hsl(170, 25%, 40%), rgb(77, 128, 92));">NLP-Inferred data</th>
            
            <th class="ontop-header" colspan="6" rowspan="2" >
                <input type="search" id="search-input" placeholder="Type to search all fields...">
            </th>
        </tr>
        <tr>
            <th class="inferred-header ontop-header" colspan="6">Classification</th>
            <th class="inferred-header inferred-header-2 ontop-header" colspan="2">Features:</th>
            <th class="inferred-header inferred-header-2 ontop-header" colspan="4">Solder</th>
            <th class="inferred-header inferred-header-2 ontop-header" colspan="4">PCBA</th>
            <th class="inferred-header inferred-header-3 ontop-header" colspan="7">Techniques</th>
            <th class="inferred-header inferred-header-3 ontop-header" colspan="2"></th>
        </tr>
        <tr>
            <th class="rotate-header status-header editable-header" data-sort="type"><div><span>Type</span></div></span><span class="sort-indicator"></span></th>

            <th data-sort="title">Title (Click for article) <span class="sort-indicator"></span></th>
            <!-- <th data-sort="authors">Authors <span class="sort-indicator"></span></th> -->
            <th data-sort="year">Year <span class="sort-indicator"></span></th>
            <th data-sort="journal">Journal/Conf <span class="sort-indicator"></span></th>    
            <th class="rotate-header" data-sort="page_count" style="width:28px; min-width:28px; max-width:28px"><div><span>Pages</span></div> <span class="sort-indicator"></span></th>


            <!-- Classification Summary Columns -->
            <th class="inferred-header rotate-header status-header editable-header" data-sort="is_offtopic"><span class="sort-indicator"></span><div><span>Off-topic</span></div></th>
            <th class="inferred-header rotate-header status-header" data-sort="relevance"><span class="sort-indicator"></span><div><span>Relevance</span></div></th>
            <th class="inferred-header rotate-header status-header editable-header" data-sort="is_survey"><span class="sort-indicator"></span><div><span>Survey</span></div></th>
            <th class="inferred-header rotate-header status-header editable-header" data-sort="is_through_hole"><span class="sort-indicator"></span><div><span>THT</span></div></th>
            <th class="inferred-header rotate-header status-header editable-header" data-sort="is_smt"><span class="sort-indicator"></span><div><span>SMT</span></div></th>
            <th class="inferred-header rotate-header status-header editable-header" data-sort="is_x_ray"><span class="sort-indicator"></span><div><span>X-Ray</span></div></th>

            <!-- Features Summary Columns (Updated list) -->
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_tracks"><div><span>Tracks</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_holes"><div><span>Holes / Vias</span></div></th>

            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_solder_insufficient"><div><span>Insufficient</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_solder_excess"><div><span>Excessive</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_solder_void"><div><span>Void / Hole</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_solder_crack"><div><span>Crack / Cold</span></div></th>
            
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_missing_component"><div><span>Missing Comp</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_wrong_component"><div><span>Wrong Comp</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_orientation"><div><span>Orientation</span></div></th>
            <th class="inferred-header inferred-header-2 rotate-header status-header editable-header" data-sort="features_cosmetic"><div><span>Cosmetic</span></div></th>

            <!-- Techniques Summary Columns (Updated list) -->
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_classic_cv_based"><div><span>Classic CV</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_ml_traditional"><div><span>ML</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_dl_cnn_classifier"><div><span>CNN Classifier</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_dl_cnn_detector"><div><span>CNN Detector</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_dl_rcnn_detector"><div><span>R-CNN Detector</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_dl_transformer"><div><span>Transformer</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_dl_other"><div><span>Other DL</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_hybrid"><div><span>Hybrid</span></div></th>
            <th class="inferred-header inferred-header-3 rotate-header status-header editable-header" data-sort="technique_available_dataset"><div><span>Datasets</span></div></th>

            <th data-sort="changed" style="width:46px; min-width:46px; max-width:46px">Last Changed <span class="sort-indicator"></span></th>
            <th data-sort="changed_by" style="width:50px; min-width:50px; max-width:50px">Changed By <span class="sort-indicator"></span></th>
            <th data-sort="verified" style="width:42px; min-width:42px; max-width:42px">Verified <span class="sort-indicator"></span></th>
            <th class="rotate-header" data-sort="estimated_score" style="width:28px; min-width:28px; max-width:28px"><div><span>Accr. Score</span></div> <span class="sort-indicator"></span></th>
            <th data-sort="verified_by" style="width:42px; min-width:42px; max-width:42px">Verified By <span class="sort-indicator"></span></th>
            <th class="rotate-header" style="width:40px; min-width:40px; max-width:40px"><div>Details</div></th> <!-- must be 50px due to 'collapse' button text -->
        </tr>
    </thead>
    <!-- tbody and tfoot come from the papers_table template-->
    {{ papers_table_static_export | safe }}        
    
    {% include 'papers_table_tfoot.html' %}
    <!-- Use the rendered table content passed from the server --> 
</table>
</div>
<!-- Stats Modal -->
<div id="statsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <!-- <p> Data in <strong>all lists</strong> below is dynamically calculated based on <strong>currently visible</strong> papers:</p> -->
        <div class="stats-lists">
            <div class="stats-section">
                <h3>Repeating <strong>Journal/Conferences</strong></h3> 
                <ul id="journalStatsList"  class="stats-list-multicolumn-2"></ul>
            </div>
            <div class="stats-section">
                <h3>Repeating <strong>Keywords</strong></h3>
                <ul id="keywordStatsList" class="stats-list-multicolumn-short"></ul>        
            </div>
            <div class="stats-section">
                <h3>Repeating <strong>Authors</strong></h3>
                <ul id="authorStatsList" class="stats-list-multicolumn-short"></ul>
            </div>
            <div class="stats-section">
                <h3>Repeating <strong>Research Areas</strong></h3>
                <ul id="researchAreaStatsList" class="stats-list-multicolumn-short"></ul>
            </div>

        </div>
        <!-- Add these new sections for the charts -->
        <div class="stats-charts">
            <div class="stats-section">
                <h3><strong>Features</strong> Distribution</h3>
                <div class="chart-container" style="height:36vh; width:400px; max-width: 400px; margin: auto;">
                    <canvas id="featuresPieChart"></canvas>
                </div>
            </div>
            <div class="stats-section">
                <h3><strong>Techniques</strong> Distribution</h3>
                <div class="chart-container" style="height:36vh; width:400px; max-width: 400px; margin: auto;">
                    <canvas id="techniquesPieChart"></canvas>
                </div>
            </div>
            <div class="stats-section">
                <h3>Info / <strong>Other</strong> stats</h3>
                <p> Data in this page below is dynamically calculated based on <strong>currently visible</strong> papers.</p>
            </div>
        </div>
    </div>
</div>
<script>
    {{ ghpages_js_content | safe }}
</script>
</body>
</html>