<!-- templates/papers_table.html -->
{% block papers_table_content %}
<tbody style="position: relative;">
<tr>
    <td style="padding:0;" colspan="43">
        <div class="loading-overlay">
            <div class="header-branding"><span>Research</span><span style="font-weight: 600; color: var(--primary-ui-color);">Parça</span></div>
            <div class="loading-spinner"></div>
            <div>Reprocessing table. Wait patiently. </div>
        </div>
    </td>
    <td style="display:none" colspan="5"></td>
</tr>
{% for paper in papers %}
    <tr data-paper-id="{{ paper.id }}" >
        <td class="status-cell pdf-status emoji-column">
            {% if paper.pdf_filename %}
                <a href="{{ url_for('static', filename='pdfjs/web/viewer.html') }}?file={{ url_for('serve_pdf', paper_id=paper.id) | urlencode }}" target="_blank" class="pdf-link" 
                title="{% if paper.pdf_state == 'annotated' %}Open this annotated PDF in the Annotator{% else %}Open this PDF in the Annotator{% endif %}">
                        {{ pdf_emojis.get(paper.pdf_state) }}
                </a>
            {% else %}
                <a href="#" class="pdf-upload-link" data-paper-id="{{ paper.id }}" 
                title="{% if paper.pdf_state == 'paywalled' %}Article is paywalled. Click to upload if a copy is available{% else %}No PDF stored yet. Click to upload PDF for this article{% endif %}">
                    {{ pdf_emojis.get(paper.pdf_state) }}
                </a>
            {% endif %}
        </td>

        </td><td class="title-cell">
            {% if paper.doi %}
                <a href="https://doi.org/{{ paper.doi }}" target="_blank">{{ paper.title }}</a>
            {% else %}
                <span style="font-weight: 300;">{{paper.title}}</span> 
            {% endif %}
        </td>

        <td class="secondary-text-cell number-cell">{{ paper.year or '' }}</td>
        <td class="secondary-text-cell number-cell">{{ paper.page_count or '' }}</td>
        <td class="secondary-text-cell">{{ paper.deannualized_conference or paper.journal }}</td>        
        <td class="status-cell emoji-column" title="{{ paper.type }}">{{ type_emojis.get(paper.type, default_type_emoji) }}</td>

        <td class="status-cell editable-status" data-field="is_offtopic">{{ paper.is_offtopic | render_status }}</td>
        <td class="secondary-text-cell number-cell">{{ paper.relevance or '' }}</td>
        <td class="status-cell editable-status" data-field="is_survey">{{ paper.is_survey | render_status }}</td>
        <td class="status-cell editable-status" data-field="is_through_hole">{{ paper.is_through_hole | render_status }}</td>
        <td class="status-cell editable-status" data-field="is_smt">{{ paper.is_smt | render_status }}</td>
        <td class="status-cell editable-status" data-field="is_x_ray">{{ paper.is_x_ray | render_status }}</td>

        <td class="status-cell editable-status highlight-status" data-field="features_tracks">{{ paper.features.tracks | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_holes">{{ paper.features.holes | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_bare_pcb_other">{{ paper.features.bare_pcb_other | render_status }}</td>
        <td class="status-cell editable-status" data-field="features_solder_insufficient">{{ paper.features.solder_insufficient | render_status }}</td>
        <td class="status-cell editable-status" data-field="features_solder_excess">{{ paper.features.solder_excess | render_status }}</td>
        <td class="status-cell editable-status" data-field="features_solder_void">{{ paper.features.solder_void | render_status }}</td>
        <td class="status-cell editable-status" data-field="features_solder_crack">{{ paper.features.solder_crack | render_status }}</td>
        <td class="status-cell editable-status" data-field="features_solder_other">{{ paper.features.solder_other | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_missing_component">{{ paper.features.missing_component | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_wrong_component">{{ paper.features.wrong_component | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_orientation">{{ paper.features.orientation | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_component_other">{{ paper.features.component_other | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="features_cosmetic">{{ paper.features.cosmetic | render_status }}</td>
        <td class="status-cell highlight-status" data-field="features_other_state">{{ '✔️' if paper.features.other and (paper.features.other|string).strip() else '❌' }}</td>

        <td class="status-cell editable-status" data-field="technique_classic_cv_based">{{ paper.technique.classic_cv_based | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_ml_traditional">{{ paper.technique.ml_traditional | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_dl_cnn_classifier">{{ paper.technique.dl_cnn_classifier | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_dl_cnn_detector">{{ paper.technique.dl_cnn_detector | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_dl_rcnn_detector">{{ paper.technique.dl_rcnn_detector | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_dl_transformer">{{ paper.technique.dl_transformer | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_dl_other">{{ paper.technique.dl_other | render_status }}</td>
        <td class="status-cell editable-status" data-field="technique_hybrid">{{ paper.technique.hybrid | render_status }}</td>
        <td class="status-cell editable-status highlight-status" data-field="technique_available_dataset">{{ paper.technique.available_dataset | render_status }}</td>

        <td class="secondary-text-cell changed-cell highlight-status">{{ paper.changed_formatted }}</td> <!-- Use formatted timestamp -->
        <td class="status-cell changed-by-cell highlight-status" data-field="changed_by">{{ paper.changed_by | render_changed_by }}</td>           
        <td class="status-cell editable-status" data-field="verified">{{ paper.verified | render_status }}</td>
        <td class="secondary-text-cell number-cell" data-field="verified">{{ paper.estimated_score  or '' }}</td>
        <td class="status-cell editable-verify" data-field="verified_by">{{ paper.verified_by | render_verified_by }}</td>                 
        <td class="status-cell" data-field="user_comment_state">{{ '✔️' if paper.user_trace and (paper.user_trace|string).strip() else '❌' }}</td> 
        <td class="toggle-btn" onclick="toggleHistory(this)"><span>Show</span></td>
        <td class="toggle-btn" onclick="toggleDetails(this)"><span>Show</span></td>

        <!-- Hidden data cells for faster stats retrieval -->
        <td class="hidden-data-cell" data-field="abstract" style="display: none;">{{ paper.abstract }}</td>
        <td class="hidden-data-cell" data-field="keywords" style="display: none;">{{ paper.keywords }}</td>
        <td class="hidden-data-cell" data-field="authors" style="display: none;">{{ paper.authors }}</td>
        <td class="hidden-data-cell" data-field="research_area" style="display: none;">{{ paper.research_area or '' }}</td>
        <td class="hidden-data-cell" data-field="model_name" style="display: none;">{{ paper.technique.model or '' }}</td>
        <td class="hidden-data-cell" data-field="features_other" style="display: none;">{{ paper.features.other or '' }}</td>
        <td class="hidden-data-cell" data-field="user_trace" style="display: none;">{{ paper.user_trace or '' }}</td>
    </tr>
<!-- Detail Row Placeholder -->
<tr class="detail-row">
    <td colspan="43"  class="detail-content-placeholder">
    </td>
    <td style="display:none" colspan="5"></td>
</tr>

<!-- History Row Placeholder -->
<tr class="history-row">
    <td colspan="43"  class="detail-content-placeholder">
    </td>
    <td style="display:none" colspan="5"></td>
</tr>
{% endfor %}
</tbody>
{% endblock %}